<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Marca List</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Marca List</h1>
		<hr />
		<a th:href="@{/marcas/new}" class="btn btn-success">Nova Marca</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>id</th> 
					<th>Nome</th> 
					<th>Sigla</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="marca : ${listMarcas}">
					<td th:text="${marca.id}"></td> 
					<td th:text="${marca.nome}"></td> 
					<td>
							<a th:href="@{/marcas/{id}(id = ${marca.id})}" class="btn btn-primary">Mostrar</a> 
					 		<a th:href="@{/marcas/{id}/edit(id = ${marca.id})}" class="btn btn-info">Editar</a> 
							<a th:href="${'marcas/'+ marca.id+'/delete'}" class="btn btn-danger">Apagar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>